  
   html, body{
    margin: 0px;
    padding: 0px;
   }
    .Rojo{background-color: red;
        height: 20vh;
        width: 97vw;
        border: 2px dashed; 
        
        
 }

    .Contenedor{
        display: flex;
    }

    .Azul{background-color: blue;
        height: 60vh;
        width: 34vw;
        border: 2px solid rgb(223, 14, 241);
        float:left;
        
       
 }

    .Amarillo{background-color: yellow;
        height: 60vh;
        width: 61vw;
        border: 3px solid black;
        border-radius:5%;
        float:right;
 }

    .Verde{background-color: green;
        height: 20vh;
        width: 99vw;
        border: 2px blue;
        float:right;
    
 }

