         * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
          } 
  
        .button1 {
            font-size: 16px;
            background-color: orange;
            padding: 10px 20px;
            margin: 10px;
            cursor: cell;
            border-radius: 5px;
        }
        .sol {
            background-color: yellow;
            color: black;
        }

        .luna {
            background-color: black;
            color: white;
        }

        .arbol {
            background-color: green;
            color: white;
            display: none;
        }
        
        .parrafo1 {
            color: yellow;
            font-style: oblique;
        }

        .clase-coleccion {
            color: red;
            background-color: pink;
            font-size: 18px;
        }
 