         *
        {
            margin:0px;
            padding:0px;
        }

        .cuadro{
            width: 200px;
            height: 200px;  
        }

        .arribaiz{
            position: relative;
            top: 50px;
            background-color: red;
            opacity: 69%;
        }

        .arribader {
        position: absolute;
        top: 0;
        right: 0;
        width: 5vw;
        height: 10vh;
        background-color: red;
        }

        .arribader:hover {
            background-color: black;
            width: 5vw; 
            height: 10vh;
            
        }

        .derecha{
            position: absolute;
            left: calc(100vw - 200px);
            background-color: blueviolet;
            opacity: 20%;
        }
        .derecha:hover {
            background-color: orange;
            width: 200px; 
            height: 200px;
            transform: rotate(45deg) scale(1.2);
            
        }
    

        .pie{
            width: 100vw;
            height: 50px;
            background-color: yellow;
            margin-top: calc(100vh - 10vh);

        }

        .pie:hover {
            background-color: green;
            width: 100vw; 
            height: 50px;
            
            
        }

        .bola{
            width: 100px;
            height: 100px;
            background-color: fuchsia;
            border-radius: 50%;
            position: absolute;
            top: calc(50vh - 25px);
            left: calc(50vw - 25px)


        }        

        .bola:hover {
            background-color: blue;
            width: 200px; 
            height: 200px;
            box-shadow: 0px 0px 10px 15px;
        }


        
  